* {
  box-sizing: border-box;
}

.App {
  font-family: sans-serif;
  text-align: center;
}

.typeahead {
  position: relative;
}

.typeahead input {
  border: 1px solid black;
  padding: 0.5rem;
  width: 100%;
}

.suggestion {
  text-align: left;
  cursor: pointer;
  padding: 0.5rem;
  border-left: 1px solid black;
  border-right: 1px solid black;
  border-bottom: 1px solid black;
  width: 100%;
  position: relative;
  z-index: 99;
  background-color: white;
}

.suggestion.focused {
  color: red;
}

.suggestion:hover {
  background-color: grey;
  color: white;
}
